<h2 class="mt-5 text-info">Posts</h2>
<hr>

<div *ngIf="categoryResponse" class="posts">
    <div class="single-post" *ngFor="let post of categoryResponse.fields">
        <h1>{{post.post_title}}</h1>
        <img [src]="post.post_featured" class="img-fluid" alt="Responsive image">
        <p class="post-body mt-3" [innerHTML]="post.post_content | unscapeHtml"></p>
    </div>
</div>