<h2 class="mt-5">Contact</h2>
<hr>

<div class="row" *ngIf="contact">
    <div class="col-md-6" *ngIf="contact.general">
        <h4>General</h4>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Address
                <span *ngIf="contact.general.contact_address" class="badge badge-primary badge-pill">
                    {{contact.general.contact_address}}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Phone
                <span *ngIf="contact.general.contact_phone" class="badge badge-primary badge-pill">
                    {{contact.general.contact_phone}}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Fax
                <span *ngIf="contact.general.contact_fax" class="badge badge-primary badge-pill">
                    {{contact.general.contact_fax}}
                </span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                Email
                <span *ngIf="contact.general.contact_email" class="badge badge-primary badge-pill">
                    {{contact.general.contact_email}}
                </span>
            </li>
        </ul>
    </div>

    <div class="col-md-6" *ngIf="contact.social">
        <h4>Social</h4>
        <div class="list-group">
            <a [href]="contact.social.facebook" *ngIf="contact.social.facebook"
               class="list-group-item list-group-item-action">Facebook</a>

            <a [href]="contact.social.youtube" *ngIf="contact.social.youtube"
               class="list-group-item list-group-item-action">Youtube</a>

            <a [href]="contact.social.instagram" *ngIf="contact.social.instagram"
               class="list-group-item list-group-item-action">Instagram</a>

            <a [href]="contact.social.soundcloud" *ngIf="contact.social.soundcloud"
               class="list-group-item list-group-item-action">Soundcloud</a>
        </div>
    </div>
</div>