<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wordpress API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/category/getCategoryNews/posts">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/category/getCategoryMix/posts">Mix</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/category/getCategoryEvents/posts">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/category/getCategoryLiveVideo/posts">Live Video</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/customers/set">Set new customer</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>