<h2 class="mt-5">Set new customer</h2>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{successMessage}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    </div>
</div>
<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
    <div class="form-group">
        <input id="firstName" name="firstName" class="form-control"
               required placeholder="First name"
               [(ngModel)]="data.customer_firstname" #name="ngModel" autocomplete="off"/>
    </div>

    <div class="form-group">
        <input id="lastName" name="lastName" class="form-control"
               required placeholder="Last name"
               [(ngModel)]="data.customer_lastname" #name="ngModel" autocomplete="off"/>
    </div>

    <div class="form-group">
        <input id="email" name="email" class="form-control"
               required placeholder="Email"
               [(ngModel)]="data.customer_email" type="email" #name="ngModel" autocomplete="off"/>
    </div>

    <div class="form-group">
        <input id="password" name="password" class="form-control"
               required placeholder="Password"
               [(ngModel)]="data.customer_pass" type="password" #name="ngModel" autocomplete="off"/>
    </div>
    <div class="form-group">
        <input id="birthday" name="birthday" class="form-control" placeholder="Birthday"
               [(ngModel)]="data.customer_birthday" type="date" #name="ngModel" autocomplete="off"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.form.pristine || f.form.invalid">Add Customer</button>
    </div>
</form>